#container{
  background-color: #002159;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 50px;

  h1 {
    margin: 0px;

    color: #FF595A;
    font-size: 40px;
    font-weight: bold;
  }

  .button {
    background-color: #002159;

    color: #CAC0B3;
    border-radius: 10px;
    border: 2px solid #CAC0B3;

    font-size: 20px;
    font-weight: bold;
    padding: 1.25em 2em;
    cursor: pointer;
  }
}

