body {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: #a1988f;
}

h1 {
  background-color: #002159;
  color: #FF595A;
  border-radius: 15px 15px 0 0;

  margin: 0;
  padding: 1em;
}

#settings {
  width: 50%;

  background-color: #5483dc;
  border-radius: 15px;
  margin: 3em;
  display: flex;
  flex-direction: column;

  #container {
    display: flex;
    flex-direction: column;

    flex: 1;
    margin-top: 1em;
    margin-right: 1em;
    height: 100%;

    padding: 0 1em 1em 1.65em;
    border-radius: 10px;

    h3 {
      font-weight: bold;
    }

    input {
      font-size: 1.2em;
      padding: 0.25em;
      width: 100%;
      border: none;
      border-radius: 5px;
      background-color: #CAC0B3;
    }

    #btnChange {
      background-color: #1da81d;
      border-style: none;
      border-radius: 10px;

      font-size: 1em;
      font-weight: bold;

      padding: 1em;
      margin-top: auto;
      margin-bottom: 0.5em;
      width: 100%;
    }
  }
}

#notifications {
  width: 50%;

  background-color: #5483dc;
  border-radius: 15px;
  margin: 3em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  #requests {
    overflow-y: auto;
    flex: 1;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;

    padding: 0 1em 1em 1.65em;
    border-radius: 10px;

    .request {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 1em;
      padding: 0.5em;

      border: 2px solid #CAC0B3;

      #orgName {
        margin-right: auto;
        margin-left: 1em;
      }

      img {
        margin-right: 1em;
        filter: invert(85%) sepia(11%) saturate(272%) hue-rotate(354deg) brightness(89%) contrast(92%);
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track{
  padding-block: 25px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #002159;
  border-radius: 10px;
}
