* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #CAC0B3;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
}

header {
  background: #001233;
  height: 10%;

  display: flex;
  flex-direction: row;
  align-items: center;

  #name {
    margin: 1em;
    padding: 0;
    color: #FF595A;
    font-size: 2.5em;
  }

  #tabs {
    margin-left: auto;
    display: flex;
    flex-direction: row;

    div {
      padding: 0.1em 1.25em;

      margin-right: 1em;
      border-radius: 15px;
      border: 2px solid #CAC0B3;

      display: flex;
      flex-direction: row;

      img {
        height: 36px;
        width: 36px;
        align-self: center;
        margin-right: 1.5em;
        filter: invert(85%) sepia(11%) saturate(272%) hue-rotate(354deg) brightness(89%) contrast(92%);
      }

      p {
        font-size: 1.25em;
        font-weight: bold;
      }
    }

    #logout:hover {
      img {
        filter: invert(45%) sepia(96%) saturate(4215%) hue-rotate(337deg) brightness(118%) contrast(101%);
      }
    }

    .selected {
      background-color: #FF595A;
      border: 0;

      p {
        color: black;
      }

      img {
        filter: invert(0%) sepia(2%) saturate(0%) hue-rotate(239deg) brightness(100%) contrast(100%);
      }


    }
  }
}

.container {
  display: flex;
  flex-direction: row;

  height: 90%;

  .navbar {
    display: flex;
    flex-direction: column;
    background-color: #5483dc;
    flex: 1;

    #org {
      margin: 0;
      padding: 1.25em 1em;
      background-color: #002c7a;
      color: #FF595A;
    }

    #containerList {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: auto;

      padding-left: 0.75em;
      padding-right: 0.75em;
      margin: 0.5em;

      .userOrgs {
        margin-top: 10px;
        padding: 1em 1em;

        font-size: 19px;
        font-weight: bold;

        border-radius: 5px;
        border: 2px solid #CAC0B3;
      }

      .selected {
        background-color: #FF595A;
        border: 0;

        color: black;
      }
    }

    #bottom {
      margin-top: auto;
      margin-bottom: 0;
      padding-left: 1em;
      padding-right: 1em;
      background-color: #002159;

      .orgButton {
        border: 2px solid #CAC0B3;
        border-radius: 10px 30px 30px 10px;
        outline: none;
        text-transform: uppercase;
        cursor: pointer;
        margin: 1em 0;

        display: flex;
        flex-direction: row;
        align-items: center;

        p {
          font-weight: bold;
          margin-left: 0.75em;
          margin-right: 0.75em;
        }

        img {
          width: 24px;
          height: 24px;
          margin-left: auto;
          margin-right: 0.75em;
          filter: invert(85%) sepia(11%) saturate(272%) hue-rotate(354deg) brightness(89%) contrast(92%);
        }
      }

      .selected {
        background-color: #FF595A;
        border: 0;

        p {
          color: black;
        }

        img {
          filter: invert(0%) sepia(2%) saturate(0%) hue-rotate(239deg) brightness(100%) contrast(100%);
        }
      }
    }
  }

  .content {
    flex: 5;
  }
}


/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track{
  padding-block: 25px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #002159;
  border-radius: 10px;
}
