* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  margin: 0;
  overflow: hidden;
}

.navbar {
  display: flex;
  flex-direction: column;
  background: #D7E8D4;
  flex: 1;
  padding: 1em;

  #org {
    font-size: 25px;
    font-weight: bold;
  }

  #containerList {
    display: flex;
    flex-direction: column;

    .userOrgs {
      margin-top: 10px;
      padding: 20px 10px;
      background-color: lightslategrey;
      color: #fff;
      border: black;
    }
  }

  #bottom {
    margin-top: auto;
    width: 100%;

    .orgButton {
      background-color: lightslategrey;
      border: 0;
      outline: none;
      text-transform: uppercase;
      cursor: pointer;
      margin: 20px 1em 20px 1em;

      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        color: #fff;
        padding-left: 20px;
      }

      img {
        width: 24px;
        height: 24px;
        margin-right: 20px;
      }
    }

    .orgButton:hover {
      background-color: #CCC;
      color: #666;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex: 5;

  header {
    background: yellowgreen;
    height: 5%;
    padding: 1em;
  }

  .content {
    height: 95%;

    .comContainer {
      width: 100vw;
      height: 100vh;
    }
  }
}
