<!doctype html>
<title>Example</title>
<body>
    <nav class="navbar">
      <p id="org">Your Organizations</p>
      <div id="containerList">

      </div>
      <div class="orgButton" (click)="type=ComponentType.Create">Create Organization</div>
      <div class="orgButton" (click)="type=ComponentType.Search">Search Organization</div>
    </nav>
    <div class="container">
        <header>Header</header>
        <main class="content">
            <ng-container [ngSwitch]="type">
              <app-search *ngSwitchCase="ComponentType.Search"></app-search>
              <app-create *ngSwitchCase="ComponentType.Create"></app-create>
            </ng-container>
        </main>
    </div>
</body>
