<body>
    <nav class="navbar">
      <p id="org">Your Organizations</p>
      <div id="containerList" (click)="clickedOnOrganization($event)">
        <div class="userOrgs" *ngFor="let org of orgs">{{org.name}}</div>
      </div>
      <div id="bottom">
        <hr>
        <div class="orgButton" (click)="type=ComponentType.Create">
          <p>Create Organization</p>
          <img ngSrc="assets/right_arrow.png" alt="Right Arrow" height="512" width="512">
        </div>
        <div class="orgButton" (click)="type=ComponentType.Search">
          <p>Search Organization</p>
          <img ngSrc="assets/right_arrow.png" alt="Right Arrow" height="512" width="512">
        </div>
      </div>
    </nav>
    <div class="container">
        <header>Header</header>
        <main class="content">
            <ng-container [ngSwitch]="type">
              <app-search class="comContainer" *ngSwitchCase="ComponentType.Search"></app-search>
              <app-create class="comContainer" *ngSwitchCase="ComponentType.Create"></app-create>
              <app-organization class="comContainer" [org]="org" *ngSwitchCase="ComponentType.Organization"></app-organization>
            </ng-container>
        </main>
    </div>
</body>
