<body>
  <div id="header">
    <h1 id="orgName">{{ this.org?.name }}</h1>
    <div id="buttons">
      <div id="btnDashboard" [class.selected]="this.type==OrganizationComponentType.Dashboard" (click)="type=OrganizationComponentType.Dashboard">
        <img src="assets/dashboard.png" width="36px" height="36px" alt="https://www.flaticon.com/free-icon/menu_3388614?term=dashboard&page=1&position=18&origin=search&related_id=3388614">
      </div>
      <div id="btnNotification" [class.selected]="this.type==OrganizationComponentType.Notification" (click)="type=OrganizationComponentType.Notification">
        <img src="assets/notification.png" width="36px" height="36px" alt="https://www.flaticon.com/free-icon/bell_2529521?term=notification&page=1&position=5&origin=search&related_id=2529521">
      </div>
    </div>
  </div>
  <ng-container [ngSwitch]="type">
    <app-dashboard class="appContainer" [org]="org" *ngSwitchCase="OrganizationComponentType.Dashboard"></app-dashboard>
    <app-notification class="appContainer" [org]="org" *ngSwitchCase="OrganizationComponentType.Notification"></app-notification>
  </ng-container>
</body>
