body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #cccccc;
  margin: 0;
}

#header {
  display: flex;
  flex-direction: row;
  background-color: #666666;
  margin: 0;
  align-items: center;

  #orgName {
    margin: 0;
    padding: 1em;
  }

  #buttons {
    display: flex;
    flex-direction: row;

    margin-left: auto;

    div {
      background-color: #a1a1a1;
      border-radius: 15px;
      padding: 0.5em;
      margin-right: 1em;

      img:hover {
        filter: invert(19%) sepia(80%) saturate(1483%) hue-rotate(201deg) brightness(94%) contrast(101%);
      }
    }

    .selected {
      background-color: #cacaca;
      border: #3a3a3a solid 1px;
      border-radius: 15px;
      padding: 0.5em;
    }
  }
}

.appContainer {
  flex: 1;
  overflow-y: auto;
  padding-top: 1em;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track{
  padding-block: 25px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 10px;
}
