body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #a1988f;
  overflow-y: auto;
}

#content {
  background-color: #5483dc;
  border-radius: 15px;
  margin: 3em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  h1 {
    background-color: #002159;
    color: #FF595A;
    margin: 0;
    padding: 1em;
    border-radius: 15px 15px 0 0;
  }

  #events {
    overflow-y: auto;
    flex: 1;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;

    padding: 0 1em 1em 1.65em;
    border-radius: 15px;

    #grouped {
      margin-top: 1em;

      h3 {
        color: #0c3185;
      }

      .event {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5em;

        border-radius: 10px;
        border: 2px solid #CAC0B3;

        #evTitel {
          font-weight: bold;
          margin-right: auto;
          margin-bottom: 0.25em;
        }

        #detailedInfo {
          display: flex;
          flex-direction: row;

          .evDescription {
            margin-right: 1em;
          }

          #evTime {
            margin-left: auto;
          }
        }
      }
    }

    #grouped > div:not(:last-child) {
      margin-bottom: 15px;
    }

  }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track{
  padding-block: 25px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #002159;
  border-radius: 10px;
}
