body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #a1988f;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: center;
  margin: 1.5em 3em;
  align-items: center;
  width: 40%;

  #inputs {
    display: flex;
    flex-direction: column;
    background-color: #002159;
    border-radius: 15px;
    flex: 1;
    margin-bottom: 0.75em;
    width: 100%;

    h1 {
      padding-left: 1em;
      padding-right: 1em;
      align-self: center;
      color: #FF595A;
    }

    #information {
      padding: 0.5em 1.5em 1em;
      flex: 1;

      background-color: #5483dc;
      border-radius: 0 0 15px 15px;

      input {
        font-size: 1.25em;
        padding: 0.25em;
        width: 100%;
        border: none;
        border-radius: 5px;
        background-color: #CAC0B3;
      }
    }
  }

  #btnCreate {
    background-color: #1da81d;
    border-style: none;
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: 1em;
    width: 100%;
  }
}
