<div id="container" [formGroup]="form">
  <h1>SIGN UP</h1>
  <div id="name">
    <input type="text" formControlName="firstname" placeholder="FIRST NAME*"/>
    <input type="text" formControlName="lastname" placeholder="LAST NAME*"/>
  </div>
  <input type="text" formControlName="username" placeholder="USERNAME*"/>
  <input type="password" formControlName="password" placeholder="PASSWORD*"/>
  <button (click)="signup()" [disabled]="!form.valid">SIGN UP</button>
  <p>Already have an account? <b id="signup"(click)="login()">LOGIN HERE</b></p>
</div>
